.chip {
	display: inline-block;
	padding: 0.5rem;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	font-size: 75%;
	font-weight: 700;
	border-radius: 10rem;
	line-height: 1;

	&.primary {
		background: var(--primary);
		color: var(--primary-contrast-text);
	}

	&.secondary {
		background: var(--secondary);
		color: var(--secondary-contrast-text);
	}

	&.clickable {
		&:hover {
			cursor: pointer;

			&.primary {
				background: var(--primary-dark);
			}

			&.secondary {
				background: var(--secondary-dark);
			}
		}
	}
}
