.tooltipContainer {
	display: inline;
}

.tooltip {
	background-color: #333;
	color: white;
	padding: 5px 10px;
	border-radius: 4px;
	font-size: 13px;
	position: absolute;
	left: -1000000px;

	#arrow,
	#arrow::before {
		position: absolute;
		width: 8px;
		height: 8px;
		z-index: -1;
	}

	#arrow::before {
		content: "";
		transform: rotate(45deg);
		background: #333;
	}

	&[data-popper-placement^="top"] > #arrow {
		bottom: -4px;
	}

	&[data-popper-placement^="bottom"] > #arrow {
		top: -4px;
	}

	&[data-popper-placement^="left"] > #arrow {
		right: -4px;
	}

	&[data-popper-placement^="right"] > #arrow {
		left: -4px;
	}
}
